.interlocutor {
  width: 100%;
  margin-bottom: 10px;
}
.link {
    display: block;
    background-color: darkseagreen;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    text-decoration: none;
    padding: 5px;
}
.link.active {
    background-color: darksalmon;
}
p {
    margin: 0;
}