.content__main_img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.user {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.user__photo {
  width: 200px;
  height: 200px;
  margin-right: 25px;
  padding: 10px;

}
.user__photo img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.user__name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.user__description ul {
  padding: 0;
}
.user__description li {
  list-style: none;
  margin: 0;
}
.UserInfo {
  
}