 .item{
  color: black;
  width: 100%;
  padding: 5px;
}
.item p {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  padding: 5px 15px;
}
.item__messadge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}