.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "a c";
  width: 1200px;
  margin: 0 auto;
}
.appWrapperContent {
  grid-area: c;
}